<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}BryghtCentral{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <nav class="navbar">
            <a class="brand" href="{{ url_for('index') }}">
                BryghtCentral
            </a>

            <div class="nav-links">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('assets') }}">Asset Directory</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>
            BryghtCentral • IT401 Web Intelligence •
            Bryan Gutierrez • 2026
        </p>
    </footer>

</body>
</html>
